<head>
  
</head>
<body>
  <div>
    <h1>{{title}}</h1>
  </div>
  <div class="header">
      <ul>
        <li class="elso"> <a href="">Rólunk</a></li>
        <li class="tobbi"><a href="">Főoldal</a></li>
        <li class="tobbi"><a href="">Kapcsolat</a></li>
        <li class="tobbi"><a href="">Lipsum</a></li>
      </ul>    
    </div>
  <div>
    <p class="firstp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ipsum justo, venenatis non ultrices in, tincidunt ut libero. Quisque gravida ipsum commodo tristique pellentesque. Aliquam vel lacus odio. Duis dolor diam, iaculis ut laoreet et, pulvinar vel dui. Proin euismod aliquet efficitur. Proin volutpat ultricies risus, id ullamcorper erat condimentum ut. Donec faucibus urna a purus consequat posuere. Mauris vestibulum facilisis elit vel ultrices. Proin aliquam libero eu enim vulputate pulvinar. Sed venenatis venenatis orci euismod cursus. Nulla pulvinar tincidunt odio vitae malesuada. </p>
  </div>
  <div>
    <p class="secondp">
        Morbi laoreet, odio a volutpat ultrices, est ligula aliquam odio, eget euismod enim turpis et odio. Donec ullamcorper turpis mauris, eu vulputate dolor vehicula sagittis. Proin in ultricies est, lacinia vehicula urna. Maecenas semper scelerisque feugiat. Praesent eget mi quis tortor condimentum posuere. Morbi maximus porttitor congue. Nulla facilisi. Phasellus orci lorem, blandit venenatis ipsum eget, luctus eleifend massa. Aenean gravida tellus in quam finibus tempus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas gravida condimentum velit, ac semper urna aliquet eget. Nullam ac mauris mauris. Nulla ultrices eros at enim luctus mollis. Fusce vestibulum sit amet mauris ornare euismod. Mauris a ante enim. Morbi tincidunt neque mi, eget pharetra ligula condimentum vel. 
    </p>
  </div>
  <div>
    <p class="firstp">Cras scelerisque, velit vitae consectetur porttitor, justo ante rhoncus diam, tincidunt tempus nunc elit eu magna. Proin dictum dui et libero accumsan viverra. Sed ut magna nisl. Pellentesque ac dolor id ex scelerisque bibendum. In eu augue vel libero tincidunt bibendum. Suspendisse eget ex vestibulum, posuere libero sit amet, feugiat diam. Ut scelerisque semper fringilla. Ut vel velit lobortis libero faucibus rutrum sed sit amet lectus. Vivamus suscipit et quam nec maximus. 
    </p>
  </div>
  <div>
    <img src="assets/img/coffee-iphone-laptop-notebook.jpg" alt=""  class="pic">
  </div>
  <div class="gomb">
    <button type="submit" class="sub">Submit</button>
    <button type="submit" class="can">Cancel</button>
  </div>

</body>