<head>
  
</head>
<body>
    <div>
        <h1>{{title}}</h1>
    </div>
    <app-header-list></app-header-list>
    <div>
        <h2>
            Elérhetőségek:
        </h2>
        <ul class="lista">
            <li *ngFor="let info of infok">{{ info }}</li>
        </ul>
    </div>
    <div>
        <h2>
            Térkép:
        </h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2767.476081099691!2d18.232602815578243!3d46.08148697911311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4742b1a70e6f3d45%3A0x25dc53487d74011b!2sP%C3%A9cs%2C%20Majorossy%20Imre%20u.%2036%2C%207625!5e0!3m2!1shu!2shu!4v1575973642312!5m2!1shu!2shu" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <div>
        <h2>
            Üzenjen nekünk!
        </h2>
        <form> <!-- Ez egy ún. template-driven form, NEM reactive form -->
            <div class="form-group">
                <label for="userEmail">Email:</label> <!--Ez a for beállítja a focust a beviteli mezőre-->
                <br>
                <input required ngModel name="userEmail" #userEmail="ngModel" (change)="log(userEmail)" id="userEmail" type="text" class="from-control">
                <div class="alert-danger" *ngIf="userEmail.touched && !userEmail.valid">Az e-mail címet kötelező megadni!</div>
            </div>
            <div class="form-group">
                <label for="userName">Név:</label> <!--Ez a for beállítja a focust a beviteli mezőre-->
                <br>
                <input required ngModel name="userName" #userName="ngModel" (change)="log(userName)" id="userName" type="text" class="from-control">
                <div class="alert alert-danger" *ngIf="userName.touched && !userName.valid">A nevet címet kötelező megadni!</div>
            </div>
            <div class="form-group">
                <label for="userTextMsg">Üzenet:</label>
                <br>
                <textarea id="userTextMsg" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <button class="btn btn-primary">Küldés</button>
        </form>
    </div>
</body>
<app-footer></app-footer>