/* You can add global styles to this file, and also import other style files */
/* Ezek a menüsor stíluselemei*/
h1 {
    color: brown;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 200%;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: Helvetica;
    color: brown;
}

ul {
    list-style: none;
    font-family: Helvetica;
    font-weight: bold;
     background-color: brown;
    color: white;
    text-align: center;
    
}
a {
    color: white;
    text-decoration: none;
}

ul li {
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
}
/* Eddig tart a menüsor*/
body {
    background:  	#A8A8A8;
}
div {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
p {
    color: white;
    font-family: Helvetica;
    font-size: 100%;
    text-align: left;
    /*width: 1200px;*/
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    
}
