<head>
  
</head>
<body>
    <div>
        <h1>{{title}}</h1>
    </div>
    <div class="header">
        <ul>
            <nav>
                <li class="tobbi"><a routerLink="/fooldal">Főoldal</a></li>
                <li class="elso"> <a routerLink="/rolunk">Rólunk</a></li>
                <li class="tobbi"><a routerLink="/kapcsolat">Kapcsolat</a></li>
                <li class="tobbi"><a href="https://www.lipsum.com/">Lipsum</a></li>
            </nav>
        </ul> 
    </div>
    <div>
        <h2>
            Történet
        </h2>
        <p>
            Etiam semper vitae felis a fringilla. Nunc est elit, vehicula nec ex a, aliquet consequat sapien. Integer varius tincidunt ligula, id tincidunt odio faucibus imperdiet. Nulla hendrerit sagittis vestibulum. Nam a ligula laoreet, volutpat dolor at, mattis nulla. Maecenas iaculis nisl nec sodales porttitor. Nullam blandit id tellus sit amet ornare. Maecenas quis enim iaculis, imperdiet ipsum a, ultricies libero. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer sit amet maximus nulla. Fusce fermentum turpis non neque sagittis, eget sagittis velit bibendum. Mauris vitae nisl vitae ipsum feugiat pellentesque. Phasellus lobortis libero quam, vitae pellentesque nisl varius sit amet.
        </p>
        <h2>
            Jelen
        </h2>
        <p>
            Etiam semper vitae felis a fringilla. Nunc est elit, vehicula nec ex a, aliquet consequat sapien. Integer varius tincidunt ligula, id tincidunt odio faucibus imperdiet. Nulla hendrerit sagittis vestibulum. Nam a ligula laoreet, volutpat dolor at, mattis nulla. Maecenas iaculis nisl nec sodales porttitor. Nullam blandit id tellus sit amet ornare. Maecenas quis enim iaculis, imperdiet ipsum a, ultricies libero. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer sit amet maximus nulla. Fusce fermentum turpis non neque sagittis, eget sagittis velit bibendum. Mauris vitae nisl vitae ipsum feugiat pellentesque. Phasellus lobortis libero quam, vitae pellentesque nisl varius sit amet.
        </p>
        <h2>
            Jövőkép
        </h2>
        <p>
            Etiam semper vitae felis a fringilla. Nunc est elit, vehicula nec ex a, aliquet consequat sapien. Integer varius tincidunt ligula, id tincidunt odio faucibus imperdiet. Nulla hendrerit sagittis vestibulum. Nam a ligula laoreet, volutpat dolor at, mattis nulla. Maecenas iaculis nisl nec sodales porttitor. Nullam blandit id tellus sit amet ornare. Maecenas quis enim iaculis, imperdiet ipsum a, ultricies libero. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer sit amet maximus nulla. Fusce fermentum turpis non neque sagittis, eget sagittis velit bibendum. Mauris vitae nisl vitae ipsum feugiat pellentesque. Phasellus lobortis libero quam, vitae pellentesque nisl varius sit amet.
        </p>
    </div>
    
</body>