.pic {
    max-width: 1200px;
    display: block;
    margin:auto;
    
}

button {
    margin-top: 50px;
    text-align: center;
    border: 1px solid black;
    font-size: 150%;
    border-radius: 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.sub {
    text-decoration: none;
    background: brown;
    color: white;
    
}

.can {
    background: white;
    color: brown;
    float: right;
    
}
.gomb {
    width: 350px;
    margin: auto;

}