p {
    
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    text-align: left;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    
}

.firstp {
    color: white;
    background-color: grey;
}

.secondp {
    color: grey;
    background-color: white;
}

.pic {
    max-width: 1200px;
    display: block;
    margin:auto;
    
}

button {
    margin-top: 50px;
    text-align: center;
    border: 2px solid black;
    font-size: 200%;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.sub {
    background: brown;
    color: white;
}

.can {
    background: white;
    color: brown;
    float: right;
    
}
.gomb {
    width: 350px;
    margin: auto;

}